<div class="container space-top">
  <div class="card card-padding">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-lg-8">
          <h5>Date: <small>August 17</small></h5>
          <h6>Trip Name: <small>Lake of Bays</small></h6>
          <h6>Created By: <small>Hard Drive</small></h6>
          <h6>Trip Details: <small>We will be going along the lake so dress warm <a href="#">Read More...</a></small></h6>
          <a href="https://goo.gl/maps/tPqMV8ewFez"> Link to Map</a>
        </div>
          <div class="col-md-6 col-sm-12 col-lg-4">
              <img src="assets/images/biketrip2.jpg" />
          </div>
    </div>
  </div>
  </div>
